[submodule "apps/macos-client"]
	path = apps/macos-client
	url = https://github.com/zahid-hsn/kafeel-macos.git
[submodule "services/api"]
	path = services/api
	url = https://github.com/zahid-hsn/kafeel-api.git
